<% provide(:title, "Blog") %>
<h1>Blog</h1>
<% if signed_in? && admin? %>
	<%= link_to "Create new entry", new_blogpost_path %>
<% end %>
<%= will_paginate @blogposts %>
<ul id="blog_list">
	<%= render @blogposts %>
</ul>