<% provide(:title, "Contact") %>

<h1>Contact</h1>

<section>
	<p>If you would like to upgrade your account to a premium membership, have questions about the site, or are interested in scheduling 1-on-1 lessons with Curtis via webcam, please send an email to <%= link_to "coopercurtis@comcast.net", "mailto:coopercurtis@comcast.net" %>.</p>
</section>