<section>
	<div id="slideshow"></div>
</section>
<section>
	<h1>First time here?</h1>
	<p>Online Drum Teacher is a learning resource for aspiring drummers and advanced drummers alike. We're excited to bring you written lessons, video lessons and a regularly updated blog all for free!</p>
	<p>For those who are looking to take the next step in advancing their percussion abilities, we offer premium content to members of the site. A large collection of videos and written lessons are available only to members.</p>
	<p>Check out the store page to purchase Curtis Cooper's books and visit the webcam lessons page to learn more about 1 on 1 lessons with Curtis via Skype, oovoo, etc.</p>
</section>
