#footer, #push {
	background: #242e4b url('footer_back1.png');
	height: 400px;
	width: 100%;
}

#push {
	background: none;
}

#footer_image {
	background: url('footer_under3.png') no-repeat bottom right;
	height: 100%;
}

.footer_content {
	width: 940px;
	margin: 0 auto;
	padding-top: 1px;
}

.footer_section {
	float: left;
	margin-left: 20px;
	padding-top: 5px;
	width: 220px;
	height: 270px;
	margin-top: 20px;
	border-right: 1px solid #2f2f3f;

	h1 {
		color: #5f94a8;
		margin-top: 0;
	}

	ul li {
		font-size: 14px;
		color: #cccccc;

		a {
			line-height: 20px;
			color: #cccccc;
			text-decoration: none;
		}
	}

	a.social_media {
		display: block;
		height: 100px;
		float: left;

		img {
			height: 50px;
		}
	}
}

.footer_section:first-child {
	margin-left: none;
}
