body, h1, h2, h3, h4, h5, p, span, a, label, input, table {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

input[type=text], input[type=password] {
	border-radius: 4px;
	height: 24px;
	border: 1px solid #777777;
	border-bottom: 1px solid #aaaaaa;
	line-height: 24px;
	font-size: .8em;
	padding: 0 5px;
}

input[type=submit] {
	border-radius: 2px;
	padding: 0 5px;
	height: 24px;
	border: none;
}

.inline {
	display: inline;
}

p {
 	color: #3f4350;
 	line-height: 26px; 
 	font-size: 14px;
}

div.centered_content {
	max-width: 960px;
	min-height: 100%;
	height: auto !important;
	margin: 80px auto -400px;
	height: 100%;
}

.clear {
	clear: both;
}

tr.odd {
	background-color: #ffffff;
}

tr.even {
	background-color: #eeeeff;
}

.center {
	text-align: center;
}

.w10 {
	width: 10%;
}

.w20 {
	width: 20%;
}

.w30 {
	width: 30%;
}

.w40 {
	width: 40%;
}

.w50 {
	width: 50%;
}