header {
	width: 100%;
	background-color: #203163;
	height: 70px;
	color: #ffffff;

	div#signin_container {
		float: right;
		margin-top: 10px;
		margin-right: 20px;
		font-size: .8em;

		label {
			margin-right: 8px;
		}
	}

	ul.top_nav {
		display: inline;
		float: right;
		margin-top: 10px;

		li {
			display: inline-block;
			height: 30px;
			width: 100px;
			text-align: center;
			line-height: 30px;
			border-radius: 2px;
			color: #ffffff;
			font-weight: bold;
			font-size: 1.1em;
			letter-spacing: 1px;
			font-variant: small-caps;

			a {
				color: #ffffff;
				text-decoration: none;
			}
		}

		li:hover {
			background-color: #595869;
		}
	}
}
