#main_image {
	margin-top: -10px;
	position: absolute;
	background: #000000 url('home_large.jpg') center;
	background-size-x: 100%;
	background-repeat: no-repeat;
	height: 500px;
	width: 100%;
}

#slideshow {
	max-width: 960px;
	height: 500px;
	position: relative;
	color: #555555;
	overflow: hidden;

	.slide {
		padding: 0 20px 10px 20px;
		position: absolute;
		width: 370px;
		top: 145px;
		right: 50px;
		color: #555555;

		ul {
			margin: 25px 50px 25px 20px;
			list-style-type: disc;

			li {
				border-radius: 3px;
				background-color: #111111;
				padding: 3px;
				display: none;
				font-size: 25px;
				margin-top: 8px;
				letter-spacing: 1px;
				color: #ffffff;
				font-family: Arial, helvetica, sans-serif;
			}
		}
	}

	.slideshow_logo {
		background: url('banner_image_inv.png') no-repeat;
		display: inline-block;
		width: 400px;
		height: 55px;
		font-family: 'AlexBrushRegular', arial, helvetica, sans-serif;		
		font-size: 37px;
		line-height: 60px;
		color: #203163;
		padding: 2px 0 0 8px;

		span {
			font-weight: bold;
			color: #5f94a8;
			font-style: italic;
		}
	}
}

#widget_spacer {
	height: 350px;
}

.widget {
	position: relative;
	width: 290px;
	float: left;
	height: 280px;
	margin-top: -15px;
	margin-bottom: 50px;
	margin-left: 15px;
	border-radius: 12px;
	border: 3px solid #f0f0f0;
	padding: 50px 5px 5px 5px;
	background-color: #e5e5e5;

	.category_title {
		position: absolute;
		top: -50px;
		left: 105px;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 3px solid #ffffff;


		a, a:hover, a:visited {
			font-family: tahoma, arial, sans-serif;
			display: block;
			width: 80px;
			font-size: 38px;
			line-height: 80px;
			text-align: center;
			color: #51819a;
			text-decoration: none;
			border-radius: 50%;
			background-color: #e5e5e5;
		}

		a:hover {
			background-color: #eeeeee;
		}
	}

	&:first-child {
		margin-left: 0;
	}

	.category_box {

		li {
			border-bottom: 1px solid #cccccc;

			a {
				display: block;
				width: 270px;
				height: 70px;
				padding: 3px 10px 8px 10px;
				text-decoration: none;
				font-family: tahoma, arial, sans-serif;

				.link_title {
					font-weight: bold;
					font-size: 12px;
					line-height: 19px;
					color: #40424b;
				}

				img.lesson_type_icon {
					margin-top: 5px;
					margin-left: 10px;
				}

				.date_added {
					float: right;
					margin-left: 10px;
					line-height: 19px;
					font-style: italic;
					font-size: 11px;
					color: #923a23;
				}

				p {
					font-size: 12px;
					line-height: 14px;
					color: #2e2e2e;
					margin-top: 8px;
				}
			}

			a:hover {
				background-color: #f2f2f2;
			}
		}

		a.view_all {
			position: absolute;
			bottom: 10px;
			right: 15px;
			font-size: 13px;
		}

		a.view_all:hover {
			text-decoration: underline;
		}
	}
}
